# Balance General y Estado de Ganancias y Pérdidas

In [1]:
from reportes import *

import pandas as pd

In [2]:
anio = "2024"

mes = 'Enero'
# meses = ['Enero','Febrero','Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Setiembre', 'Octubre', 'Noviembre', 'Diciembre']

df = pd.DataFrame()

df = generarReporteBalanceGeneral(anio, mes)

In [3]:
df.head()

,cGrupoBalance,nOrdenItemBalance,cItemBalance,cEntidad,nValor,dFecha
0,Activo,0,DISPONIBLE,CMAC Arequipa ME,406025.18035,2024-01-31
1,Activo,1,Caja,CMAC Arequipa ME,97645.71270,2024-01-31
2,Activo,2,Bancos y Corresponsales,CMAC Arequipa ME,305558.63013,2024-01-31
3,Activo,3,Canje,CMAC Arequipa ME,865.03447,2024-01-31
4,Activo,4,Otros,CMAC Arequipa ME,1955.80305,2024-01-31

In [5]:
df =  generarReporteCreditosDepositosPorOficinas(anio, mes)
df.head()

,nOrdenItem,cEntidad,cDepartamento,cProvincia,cDistrito,cCodOficina,nDepositosAhorroMN,nDepositosAhorroME,nDepositosAhorroTotal,nDepositosPlazoMN,nDepositosPlazoME,nDepositosPlazoTotal,nTotalDepósitos,nCreditosDirectosMN,nCreditosDirectosME,nCreditosDirectosTotal,dFecha
0,0,CMAC AREQUIPA,Amazonas,Chachapoyas,Chachapoyas,183,670.05111,0.23405,670.28516,689.03468,0.00000,689.03468,1359.31984,15400.67405,0.00000,15400.67405,2024-01-31
1,1,CMAC AREQUIPA,Ancash,Huaraz,Huaraz,156,1342.73130,211.84975,1554.58105,4580.25650,0.00000,4580.25650,6134.83755,44672.50263,0.00000,44672.50263,2024-01-31
2,2,CMAC AREQUIPA,Ancash,Santa,Chimbote,146,1878.07247,32.32704,1910.39951,10248.42575,87.79925,10336.22500,12246.62451,23614.84278,0.00000,23614.84278,2024-01-31
3,3,CMAC AREQUIPA,Apurimac,Abancay,Abancay,13,11259.62108,930.61911,12190.24019,16943.23294,425.15653,17368.38947,29558.62966,98149.19608,62.35737,98211.55345,2024-01-31
4,4,CMAC AREQUIPA,Apurimac,Andahuaylas,Andahuaylas,29,7239.32141,331.04399,7570.36540,3334.28739,193.50732,3527.79471,11098.16011,126691.24369,0.00000,126691.24369,2024-01-31